# Django
*.log
*.pot
*.pyc
*.pyo
__pycache__/
db.sqlite3
media/
staticfiles/

# Environment
.env
.venv/
venv/
ENV/
env/
.idea/
.vscode/

# PyCharm
.idea/

# VS Code
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db


.env